* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #222121;
  color: white;
}

/*header*/
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 40%;
  gap: 20px;
}
nav h2 {
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
}

/*main*/
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 80vh;
  gap: 50px;
}
.header-left {
  flex-grow: 1;
  margin-right: 50px;
}
.header-left-container {
  max-width: 500px;
}
.header-left-container h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}
.header-left-container h3 {
  color: rgb(49, 49, 206);
  margin-bottom: 10px;
}
.header-left-container p {
  color: #aaa;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.header-right {
  max-width: 500px;
  align-items: right;
  justify-content: right;
}
.header-right img {
  width: 100%;
  height: auto;
}
/*footer*/

.info {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 80vh;
  gap: 50px;
}
.info-left {
}
.btn-container {
  background-color: blue;
  justify-content: space-between;
  gap: 20px;
}
.info-right {
}
.investors {
  justify-content: space-between;
  gap: 20px;
}
