* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: white;
}

/*header*/
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 40%;
  gap: 20px;
}
nav h2 {
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
}

/*main*/
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.header-left {
  flex-grow: 1;
}
.header-left-container h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}
.header-left-container h3 {
  color: rgb(49, 49, 206);
  margin-bottom: 10px;
}
.header-right {
  max-width: 30%;
  text-align: right;
}

/*footer*/

.info {
}
.info-left {
}
.info-right {
}
