* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: white;
}

/*header*/

header {
  width: 100%;
  background: var(--colorBgc);
  margin: 0 0 20px 0;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 40%;
  gap: 20px;
}
nav h2 {
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
}

/*main*/

.header-left {
  display: flex;
}
.header-left-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header-left-container h3 {
  color: rgb(49, 49, 206);
}
.header-right {
  display: flex;
  max-width: 40%;
}

/*footer*/

.info {
}
.info-left {
}
.info-right {
}
