@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}
button {
  background: none;
  outline: none;
  border: 1px solid whitesmoke;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin: 8 auto;
  max-width: 80%;
}
#Language {
  border-radius: 10%;
  background-color: rgb(207, 208, 209);
}
.header {
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.header #Logo img {
  width: 450px;
  height: auto;
}
.header h1 {
  text-align: center;
  font-size: large;
  color: aliceblue;
}
.header button {
  transition-duration: 0.4s;
  color: beige;
  background-color: transparent;
  border: 1px solid aliceblue;
}
.header button:hover {
  background-color: aliceblue;
  color: black;
}
.header_text {
  text-align: center;
  margin: auto;
  max-width: 85%;
}
.top {
  background-color: rgb(12, 12, 12);
  color: azure;
}
.icon-part-container {
  display: flex;
  justify-content: space-between;
}
.list-icon {
  text-align: center;
  justify-content: space-between;
}
.list-icon img {
  width: 250px;
  height: auto;
}
.list-icon button {
  transition-duration: 0.4s;
  color: beige;
  background-color: transparent;
  border: 1px solid aliceblue;
  font-size: large;
}
.list-icon button:hover {
  background-color: aliceblue;
  color: black;
}
.middle {
  background-color: rgb(233, 227, 227);
}
.middle-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 10px;
}
.middle-container button {
  transition-duration: 0.4s;
  color: rgb(17, 17, 16);
  background-color: transparent;
  border: 1px solid rgb(9, 10, 10);
  font-size: large;
}
.news {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.bottom {
  display: flex;
  justify-content: space-between;
}
